<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="student" class="Spring_Core.Dependency_Injection_Object_Returntype.Student">
<property name="id" value="100"></property>
<property name="mathcheat">
<bean class="Spring_Core.Dependency_Injection_Object_Returntype.MathCheat"></bean>
</property>
</bean>
</beans>